<ion-header>
  <ion-navbar>
    <ion-title>
      Deine Listen!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showDetail(item)">
      {{ item.title}}
    </button>
  </ion-list>
  <!--<ion-list *ngIf=" listName!=null">-->
    <!--<button ion-item class="titelColor">-->
      <!--{{newList()}}-->
      <!--{{newDate()}} <ion-icon ios="ios-create" md="md-create"></ion-icon>-->
    <!--</button>-->
  <!--</ion-list>-->

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="addList()"> <ion-icon ios="ios-add" md="md-add"></ion-icon> </button>
  </ion-fab>
</ion-content>
