page-home {
  overflow:hidden;
  font-family: 'Questrial', sans-serif;

  .test{
    background-image: url("https://fsa.zobj.net/crop.php?r=gbghNAH6T75F2pWsY0R9o_Klw1-EzJxR5S1zVI1XPHPbOoOZrqO7a1bOJte7sKmjaVsnEjCcB5rtDHK0IS3O6Yxy5dtcOGMxzCEOo1C2FbMaldQ_EqGUJbQ3z2qU4jf4NI2H7yU-R7H44TPo6jshjYqRcTHlfSJEoJLBiw");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: #424242;
  }

.LogoSize{
  width: 150px;
  float: right;
  margin-bottom: 20px;
}
  .login{
    margin-top: 30px;
  }
  .LoginButton{
    width:100%;
    background-color: #01DFD7;
    color: #424242;
  }
  .titleLine{
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 30%;
    font-size: 50px;
  }
.color{
  box-shadow : 0px 6px 10px #888888;
}

}
