page-menu{

  .closeButton{
    color:black;
    float: right;
    background-color: transparent;
    box-shadow: none;
  }
  .menuHeader{
    background-image: url("https://fsa.zobj.net/crop.php?r=gbghNAH6T75F2pWsY0R9o_Klw1-EzJxR5S1zVI1XPHPbOoOZrqO7a1bOJte7sKmjaVsnEjCcB5rtDHK0IS3O6Yxy5dtcOGMxzCEOo1C2FbMaldQ_EqGUJbQ3z2qU4jf4NI2H7yU-R7H44TPo6jshjYqRcTHlfSJEoJLBiw");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 30px;
  }
}
